<section class="banco_img_contenedor">
					<a href="/portafolio/proyecto_info">
						<img src="./img/motos p/moto1.png">
						<div class="detalles">
					        <div class="contenedor_datos">
					        	<h3>HM Moto Care</h3>
					        	<div class="contenedor_sub_datos">
					        		<li>Marca: XXXX</li>
					        		<li>Km: 500km</li>
					        		<li>Año: 2005</li>
					        	</div>
					        </div>

					        


					        <p>La empresa HM Moto Care esta dedicada a la venta de servicios de reparacion, modificacion
								y revicion de motos de todo tipo de silindrada. Se busca con el actual proyecto incrementar
								de manera exponecial el rendimiento de ventas actual de la empresa.</p>
					    </div>
					</a>


					<a href="/portafolio/proyecto_info2">
						<img src="./img/motos p/moto1.png">
						 <div class="detalles">
					        <h3>M&H Off Road</h3>
					        <p>La empresa M&H Off Road encargada de la imporacion de productos de china para el
							consumo en latinoamerica peru.</p>
					    </div>
					</a>
					<a href="/portafolio/proyecto_info2">
						<img src="./img/motos p/moto1.png">
						 <div class="detalles">
					        <h3>M&H Off Road</h3>
					        <p>La empresa M&H Off Road encargada de la imporacion de productos de china para el
							consumo en latinoamerica peru.</p>
					    </div>
					</a>
					<a href="/portafolio/proyecto_info2">
						<img src="./img/motos p/moto1.png">
						 <div class="detalles">
					        <h3>M&H Off Road</h3>
					        <p>La empresa M&H Off Road encargada de la imporacion de productos de china para el
							consumo en latinoamerica peru.</p>
					    </div>
					</a>
</section>			