
<div class="main_contendor_principal">



<div class="slider-container">
  <img src="./img/slide/img (1).jpg" class="slider-image">
  <img src="./img/slide/img (2).jpg" class="slider-image">
  <img src="./img/slide/img (3).jpg" class="slider-image">
  <img src="./img/slide/img (4).jpg" class="slider-image">
</div>



  <h2>Potencia y precisión en cada servicio.</h2>
  <a href="">Productos</a>

<div class="pelicula"></div>

</div>



<div class="seccion-ofertas">
  <div class="titulo">
    <h3>Ofertas</h3>
    <p>Las mejores ofertas del dia!</p>
  </div>

  <div class="motos_venta_contenedor">
    <div class="tarjeta">
      <h4>Moto 2</h4>
      <img src="./img/motos p/moto1.png">
      <!-- <img src="./img/motos p/fondo1.png"> -->
    </div>

    <div class="tarjeta">
      <h4>Moto 1</h4>
      <img src="./img/motos p/moto1.png">
      <!-- <img src="./img/motos p/fondo1.png"> -->
    </div>
    <div class="tarjeta">
      <h4>Moto 3</h4>
      <img src="./img/motos p/moto1.png">
      <!-- <img src="./img/motos p/fondo1.png"> -->
    </div>
      <div class="tarjeta">
      <h4>Moto 3</h4>
      <img src="./img/motos p/moto1.png">
      <!-- <img src="./img/motos p/fondo1.png"> -->
    </div>
      <div class="tarjeta">
      <h4>Moto 3</h4>
      <img src="./img/motos p/moto1.png">
      <!-- <img src="./img/motos p/fondo1.png"> -->
    </div>
      <div class="tarjeta">
      <h4>Moto 3</h4>
      <img src="./img/motos p/moto1.png">
      <!-- <img src="./img/motos p/fondo1.png"> -->
    </div>
  </div>
</div>



  <div class="seccion-servicios">
    <div class="titulo">
    <h3>Servicios</h3>
    <p>Puedes ver todos nuestros servicios <a href="">aqui</a></p>
    </div>

    <div class="servicios_contenedor">
    <div class="tarjeta">
      <h4>Motor</h4>
      <img src="./img/servicios p/servicio (1).jpg">
      <!-- <img src="./img/motos p/fondo1.png"> -->
    </div>

    <div class="tarjeta">
      <h4>Electrico</h4>
      <img src="./img/servicios p/servicio (2).jpg">
      <!-- <img src="./img/motos p/fondo1.png"> -->
    </div>
    <div class="tarjeta">
      <h4>Alineacion Chisis</h4>
      <img src="./img/servicios p/servicio (3).jpg">
      <!-- <img src="./img/motos p/fondo1.png"> -->
    </div>
    <div class="tarjeta">
      <h4>Modificaciones</h4>
      <img src="./img/servicios p/servicio (4).jpg">
      <!-- <img src="./img/motos p/fondo1.png"> -->
    </div>
    <div class="tarjeta">
      <h4>Restauraciones Completas</h4>
      <img src="./img/servicios p/servicio (5).jpg">
      <!-- <img src="./img/motos p/fondo1.png"> -->
    </div>
  </div>
  </div>



<!-- 
<div class="seccion nosotros">
  <div class="titulo">
    <h3>Un poco sobre nosotros</h3>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div> -->

<div class="seccion contacto">

</div>

