

@import "partials/variables.scss";
@import "partials/mixins.scss";
@import "partials/breakpoints.scss";
@import "partials/functions.scss";


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
		background: #181918;
}


/*&navegacion*/
.navegacion-contenedor{
	width: 100%;
	display: flex;
	justify-content: space-between;
		padding: em(2);
		align-items: center;
		position: fixed;
		top: 0;
		z-index: 100;
		transition: 1S;

	.logo_contenedor{
		display: flex;
		align-items: center;
		margin-left: em(10);

		p{
			font-size: em(25);
			font-weight: 800;
			color: $C-text-menu;
		}
	}

	.img_contenedor{
		width: em(90);
		height: em(90);
		overflow: hidden;
	}
	.img_contenedor img{
		object-fit: 100%;
		width: 100%;
		height: 100%;
	}

	.links_contenedor{
		display: flex;
		gap: em(25);
		margin-right: em(25);

		a{
			color: $C-text-menu;
			text-decoration: none;
			font-size: em(20);
			font-weight: 100;

		} a:hover{

			color: $C-text-menu2;
		}

			
	}
}
.scrolled {
  background:  #01000e;
}


/*&Main principal*/
.main_contendor_principal{
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: em(5);


		h2{
				color: $C-text-menu2;
				font-size: em(60);
				text-align: center;
				z-index: 1;
				font-weight: 800;
				text-shadow: 4px 4px 2px rgba(0,0,0,0.6);

			}
			a{
				color: $C-text-menu;
				background:$Back-menu;
				font-size: em(20);
				border-left:$C-text-menu2;
				border-bottom:$C-text-menu2;
				text-decoration: none;
				padding: em(10) em(15);
				border-radius:em(5) ;
				z-index: 1;
			}a:hover{
				border: $C-text-menu2 ;
				color: $C-text-menu2 ;
			}
	
}


.slider-container {
  width: 100%;
  height: 100%; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
  position: absolute;
}

.slider-image {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0%;
  transform: translate(-60%, -40%) scale(120%);
  transition: opacity 1s, transform 15s;
}

.active {
  opacity: 100%;
  transform: translate(-50%, -50%) scale(140%);
}
 .pelicula{
    background: linear-gradient(90deg, rgba(1,0,23,1) 0%, rgba(0,0,42,0.7) 30%, rgba(1,1,80,0.3) 50%, rgba(0,77,130,0.2) 100%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
  }


/*&seccion motos en venta*/
.titulo{
	width: 50%;
	padding: em(10);
	background: $Back-menu;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin:auto;

	h3{
		width: 100%;
		color: $C-text-menu2;
		font-size: em(30);

	}
	p{
		font-size: em(18);
		font-weight: 100;
		color: $C-text-menu;
		width: 100%;

	}
	a{
		text-decoration: none;
		color: $C-text-menu2 ;
	}

}

.seccion-ofertas{
	width: 100%;
background-attachment: fixed;
  background-image: linear-gradient(90deg, rgba(1,0,23,1) 0%, rgba(0,0,42,0.7) 30%, rgba(1,1,80,0.3) 50%, rgba(0,77,130,0.2) 100%), url('/img/fondos/fondo1.jpg');
  background-size: cover;
  background-position: center;
  padding: em(30);
}
.motos_venta_contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: em(15);
	


	.tarjeta{
		position: relative;
		width: 30%;
		height: em(250);
		padding: em(10);
		box-shadow: 4px 4px 2px rgba(0,0,0,0.6);
		cursor: pointer;
		transition: transform 0.3s, background-color 0.3s;

		h4{
			width: 100%;
			color: $C-parrafo;
			text-align: center;
			text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
			font-size: em(25);
			z-index: 1;
		}
		img{
			position: absolute;
			bottom: 0;
			object-fit: 100%;
			width: 100%;
			height: 80%;

		}
	}.tarjeta:hover{
		 transform: scale(1.1); /* Cambia el tamaño al pasar el mouse */
  	 background-color: $Back-tarjeta1;
  	 border-radius: em(5);
	}
}

.seccion-servicios{
	width: 100%;
background-attachment: fixed;
  background-image: linear-gradient(90deg, rgba(1,0,23,1) 0%, rgba(0,0,42,0.7) 30%, rgba(1,1,80,0.3) 50%, rgba(0,77,130,0.2) 100%), url('/img/fondos/fondo2.jpg');
  background-size: cover;
  background-position: center;
  padding: em(30);
}
.servicios_contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: em(15);
	


	.tarjeta{
		position: relative;
		width: 30%;
		height: em(250);
		padding: em(10);
		box-shadow: 4px 4px 2px rgba(0,0,0,0.6);
		cursor: pointer;
		transition: transform 0.3s, background-color 0.3s;
		overflow: hidden;

		h4{
			width: 100%;
			color: $C-text-menu;
			text-align: center;
			text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
			font-size: em(25);
			z-index: 1;
		}
		img{
			position: absolute;
			bottom: 0;
			object-fit: 100%;
			width: 100%;
			height: 80%;

		}
	}.tarjeta:hover{
		 transform: scale(1.1); /* Cambia el tamaño al pasar el mouse */
  	 background-color: #f0f0f0;
  	 color: $C-text-menu2; 
	}
}




/*  &nosotros*/



/*&&Pagina Motos en venta*/

/*&inicio motos en venta*/

.banco_img_contenedor {
  width: 85%;
  height: auto;
 	display: flex;
 	flex-wrap: wrap;
 	gap: em(10);
 	justify-content: center;
  margin:auto;
	margin-top: em(100);

			img {
		  	transition: transform 0.3s;
		    object-fit: 100%;
		    width: 100%;
		   	height:100%;
		  }



	    a {
		  	width: calc(50% - 10px);
		  	height: em(350);
				position: relative;
				display: inline-block;
				border-radius: em(5);
				transition: transform 0.3s, background-color 0.3s;
			}
				
				a:hover{
					transform: scale(1.1);
					z-index: 2;
					background-color: $Back-tarjeta1;
				} 
				a:hover .detalles{
		    	opacity: 1;
		    }
}

	@media only screen and (max-width: 700px) {
		.banco_img_contenedor a{width: calc(100% - 10px);}
	}

	.detalles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;

			h3{
				color: $C-parrafo;
				margin-bottom: 10px;
				text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
			}
			li{
				color: $C-parrafo;
				font-size: em(15);
			}
			p{
				width: 100%;
				font-size: em(18);
				line-height: em(25);
				color: $C-parrafo;
				text-align: justify;
				background-color: rgba(0, 0, 0, 0.8);
				position: absolute;
			  bottom:0; 
			  left:0;
			  padding:em(20);  
			  border-radius: em(5);
			}
		}

 .contenedor_datos{
    display: flex;
    justify-content: space-between;
  }
  .contenedor_sub_datos{
    line-height: em(25);
    padding: em(10);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: em(5);
  }


/*&&pagina servicios*/
/*&Servicios*/

.mantenimiento_contenedor{
	width: 60%;
	height: em(350);
	margin: auto;
	margin-top: em(120);
	margin-bottom: em(20);
	border-left: 1px solid $C-text-menu2 ;
	border-bottom: 1px solid $C-text-menu2;
	border-radius: em(5);
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	img{
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: opacity(60%);
	}
	div{
		z-index: 1;
		background: rgba(0, 0, 0, 0.6);
		border-radius: em(5);
		padding: em(10);
	}
	h3{
		color:$C-text-menu2;
    font-size: em(40);
    margin-bottom:em(3);
    width: 100%;
    text-align: center;
	}
	p{
		color: $C-parrafo;
		font-size: em(20); 
    width: 100%;
    text-align: center;
	}
}

.contenedor_otros_servicios{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tarjeta_otros_servicios{
	width: 33%;
	height: em(300);
	gap: em(10);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	overflow: hidden;
	h3{
		z-index: 1;
	}
	p{
		z-index: 1;
	}

	img{
		object-fit: cover;
		width: 100%;
		height: 100%;
		filter: opacity(50%);
	}
}



