<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<title>HM Moto Care</title>

</head>
<body>

	{{> navegacion}}

	{{{body}}}

	{{> footer}}
	<script type="text/javascript" src="./codigo/slide.js"></script>
	<script type="text/javascript" src="./codigo/menu.js"></script>



</body>
</html>